@use 'variables' as v; // Importar el módulo 'variables' y asignarle un alias 'v'

// Mixin para encabezados con opciones personalizables
// @mixin heading ($color: blue, $border-radius: false){
//     text-transform: uppercase;
//     font-size: 2.4rem;
//     color: $color;
//     letter-spacing: 10px;
//     background-color: black;

//     @if $border-radius{
//         border-radius: 1rem;
//     }
// }

// Mixin para estilos específicos en dispositivos de teléfono
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content; // Incluir el contenido del mixin cuando se cumpla la condición del media query
    }
}

// Mixin para estilos específicos en dispositivos de tablet
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content; // Incluir el contenido del mixin cuando se cumpla la condición del media query
    }
}

// Mixin para estilos específicos en dispositivos de escritorio
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content; // Incluir el contenido del mixin cuando se cumpla la condición del media query
    }
}

// Mixin para estilos específicos en dispositivos de escritorio extra grandes
@mixin desktopXl {
    @media (min-width: v.$desktopXL) {
        @content; // Incluir el contenido del mixin cuando se cumpla la condición del media query
    }
}

// Mixin para crear una cuadrícula con columnas y espaciado personalizados
@mixin grid ($columnas, $espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}

// Mixin para restablecer estilos de las listas
@mixin resetear_lista {
    margin: 0;
    padding: 0;
    list-style: none;
}
