@use 'base/mixins' as m; // Importar el módulo 'base/mixins' y asignarle un alias 'm'
@use 'base/variables' as v; // Importar el módulo 'base/variables' y asignarle un alias 'v'

.boletos {
    padding: 5rem 0;

    h3{
        text-align: center;
        color: v.$blanco;
        margin-bottom: 2rem;
    }

    .contenedor__boletos {
        @include m.tablet { // Incluir el mixin 'tablet' definido en 'base/mixins'
            @include m.grid(2, 5rem); // Incluir el mixin 'grid' definido en 'base/mixins' con argumentos personalizados
        }
    }
}

.pase {
    color: black;

    .nombre__pase {
        text-align: center;
        font-size: 2.4rem;
        color: v.$blanco;
    }

    &__header, &__footer {
        padding: 2.5rem;
        p {
            text-align: center;
            color: v.$blanco;
            margin: 0;
        }
    }

    &__header {
        background-color: v.$rosa;
        p {
            text-transform: uppercase;
            font-size: 1.6rem;
        }
    }

    &__body {
        background-color: v.$blanco;
        ul {
            @include m.resetear_lista; // Incluir el mixin 'resetear_lista' definido en 'base/mixins'
            li, :nth-child(odd) {
                background-color: v.$blanco;
                padding: 1rem;
                border-bottom: 1px solid #e1e1e1;
            }
        }
    }

    &__footer {
        background-color: v.$morado;
        p {
            font-style: 2.4rem;
            font-weight: 700;
        }
    }
}
